<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.eamon.rtbau.rtbauUser.mapper.RtbauUserMapper">

    <select id="getAllRegionCode" resultType="java.lang.String">
        SELECT region_code
        FROM `rtbau_user`
        GROUP BY region_code
    </select>

    <select id="getSendUids" resultType="java.lang.String">
        SELECT uid FROM `rtbau_user` where region_code in
        <foreach collection="regionCodes" item="code" index="index" open="(" close=")" separator=",">
        #{code}
        </foreach>
    </select>

</mapper>
